*{
    margin : 0;
    padding :0;
}
body{
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none !important;
    color: #5d5d5d !important;
}

li{
    list-style: none;
}

.parallax {
  background-image: url("./img/bg-accueil-1.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.textImg {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  width: 95%;
  text-align: center;
  padding-top: 15%;
}

.textImg h1{
    font-size: 72px;
    font-weight: 800;
}

.textImg h4{
    font-size: 28px;
}

.service-container {
  padding: 30px 0;

}
.service-intro h2 {
  text-transform: uppercase;
}
.service-intro {
    text-align: center;
}
.card-content {
  border: 4px double #e4e4e4;
  padding: 60px 20px;
  text-align: center;
}
.card-content h6 {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 24px;
}

.card-content p {
  margin: 5px 0 0 0;
}
.card-content a {
  margin: 32px 0 0 0;
  background-color: #fff;
  border: solid 1px #dbdbdb;
  color: #5d5d5d;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
}


.card-item :hover{
 background-color: #ffb03b;

}
.para {
    height: 600px;
    text-align: center;
}
.para h1{
font-weight: 900;
text-transform: uppercase;
color: #fff;

padding-top: 16%;
}
.para-btn{
    margin-top: 38px;
}
.para a {
   padding: 20px 44px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.footer{
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
}
.horaire {
        padding-top: 45px;
}
.horaire h4 {
    text-align: center;
     font-weight: 600;
    font-size: 32px;
}

.ouverture {
    float: left;
}

.details {
    margin: 45px 0 0 0;
}
.details ul {
    float: left;
    width: 92%;
}
.flex-li li {
    width: 100%;
    float: left;
    margin: 0 0 14px 0;
}

.jour {
    font-weight: 800;
    font-size: 20px;
    float: left;
}
.heure {
    float: right;
    font-size: 18px;
    font-weight: 300;
}
.contact ul {
        margin: 35px 0 0 0;
}

.tel, .mel{
    padding-left: 13px;
}
.fa-envelope, .fa-phone{
    font-size: 22px;
}


.copyright{
    height: 200px;
    background-color: #262526;
    color: #a8a8a8;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INSCRIPTION */
.bg-form{
  background-image: url("./img/bg-inscription.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-form h2{
    font-size: 55px;
    font-weight: 800;
    color: white;
}

.container-form{
    background-color : #808080B5;
    height: 70%;
    width: 45%;
}

.container-form form{
    margin-top: 10%;
}

.form-input, .form-btn {    
    height: 100%;
    margin-top: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
} 

.form-input input{
    width: 80% !important;
}

.form-btn input{
    text-transform: uppercase;
    font-size: 20px;
    width: 50% !important;
    color: black;
    padding: 8px 20px;
    border: none;
    text-align: center;
    border-color: white;
    font-weight: bold;
    transition-duration: 0.4s;
}

